.todoItem {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: .5rem 1rem;
 border: 1px solid #ccc;
 border-radius: 4px;
 margin-bottom: 0.5rem;
}

.todoItem input {
    margin-right: 1rem;
}

.todoItem button {
 background: red;
 border-radius: 6px;
 color: white;
 border: none;
}

.done {
    text-decoration: line-through;
}